<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <p v-if="logado === 1">Usuário logado 1</p>
    <p v-else-if="logado === 2">Usuário logado 2</p>
    <p v-else>Usuário deslogado</p>

    <template v-if="logado">
      <p>Usuário logado</p>
      <button @click="logado = false">Deslogar</button>
    </template>
    <template v-else>
      <p>Usuário deslogado</p>
      <button @click="logado = true">Logar</button>
    </template>
  </div>

  <script>
    const vm= new Vue({
      el: '#app',
      data: {
        logado: true
      }
    })
  </script>
</body>
</html>