<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h1>{{titulo}}</h1>
    <div v-if="comprou" :style="{background: cor}">
      <p>{{data.conteudo}}</p>
      <p>{{lado * lado - lado/100}}</p>
      <p>{{comprou ? 'sim ele comprou' : 'ele nao comprou'}}</p>
      <input v-model='cor'type="color">
      {{cor}}
    </div>
    <a :href="comprou ? href : ''">{{href}}</a>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        titulo: 'curso de js',
        data: {
          conteudo: 'esse é o conteudo',
        },
        lado: 5,
        comprou: true,
        href: "https://origamid.com",
        cor: '#333',
      }
    })
  </script>
</body>
</html>