<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    {{lista}}
    <lista-produtos :frutas="lista" titulo="esse é o titulo"></lista-produtos>
  </div>

  <script type="module">

  const ItemProduto = {
    name: "ItemProduto",
    props: ["nomeFruta"],
    template: `
      <li>
        <h2>{{nomeFruta}}</h2>
        Esse é o nome: {{nomeFruta}}
      </li>
    `
  }

  const ListaProdutos = {
    name: "ListaProdutos",
    props: ["frutas", "titulo"],
    components: {
      ItemProduto,
    },
    template: `
    <ul>
      <h1>{{titulo}}</h1>
      {{frutas}}
      <li>Teste {{titulo}}</li>
      <li v-for="fruta in frutas">{{fruta}}</li>
      <item-produto 
        v-for="fruta,index in frutas" 
        :key="fruta + index" 
        :nomeFruta="fruta"
      ></item-produto>
    </ul>
    `,
  }

  const vm = new Vue({
    el: "#app",
    data: {
      lista: ["banana", "laranja", "uva"],
    },
    components: {
      ListaProdutos,
    }
  })

  </script>
</body>
</html>